footer {
    display: flex;
    align-items: center;
    height: 50px;
}

.copyright {
    color: #879687;
    font-size: 12px;
    margin-top: auto; 
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 20px;
}

.copyright p {
    padding: 5px;
    color: #879687;
}

@media only screen and (max-width: 560px) {
  
    .copyright {
      margin-left: 2rem;
      margin-right: 2rem;
      font-size: 12px;
    }
  
}